body {
        font-family: sans-serif;
        background-color: #f9f9f9;
        padding: 20px;
      }
      h1 {kunchokbest
        color: green;
      }
      code {
        background: blue;
        padding: 2px 4px;
        border-radius: 4px;
      }
 #map { height: 400px; width: 50%; margin-top: 30px; }
